*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Barlow-Regular.woff") format("woff");
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  background-color: gray;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/static/images/bg/default-min.jpg");
  background-size: cover;
  color: #fff;
  font-family: Barlow, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.header {
  display: flex;
}

.header-item {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}

.header-item + .header-item {
  margin-left: 2rem;
}

.header-item img {
  width: 0.9rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weather-condition {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

#current-weather-status {
  text-transform: capitalize;
}

#weather-item-list {
  display: flex;
  align-self: flex-end;
  margin-bottom: 25px;
}

.dummy-node {
  display: none !important;
}

.weather-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
}

@media screen and (min-width: 800px) {
  .content {
    padding: 4rem;
  }

  .header {
    font-size: 0.875rem;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  .temperature {
    font-size: 7.5rem;
    line-height: 6rem;
  }

  #weather-item-list {
    column-gap: 2.5rem;
  }

  .weather-item .item-temp-degree {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 24px;
  }

  .content {
    padding: 3.3rem;
  }

  .header {
    font-size: 0.75rem;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  .temperature {
    font-size: 8.3rem;
    line-height: 7rem;
  }

  #weather-item-list {
    column-gap: 3rem;
  }

  .weather-item .item-temp-degree {
    font-size: 1.25rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 40px;
  }

  .content {
    padding: 2.25rem;
  }

  .header {
    font-size: 0.6rem;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  .temperature {
    font-size: 8.3rem;
    line-height: 7rem;
  }

  #weather-item-list {
    column-gap: 2.3rem;
  }

  .weather-item .item-temp-degree {
    font-size: 1rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 1rem;
  }
}

@media screen and (min-width: 2560px) {
  html {
    font-size: 48px;
  }

  .content {
    padding: 3.125rem;
  }

  .header {
    font-size: 0.66rem;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  .temperature {
    font-size: 8.3rem;
    line-height: 7rem;
  }

  #weather-item-list {
    column-gap: 2.6rem;
  }

  .weather-item .item-temp-degree {
    font-size: 1rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 1rem;
  }
}

@media screen and (min-width: 3840px) {
  html {
    font-size: 64px;
  }

  .content {
    padding: 3.125rem;
  }

  .header {
    font-size: 0.75rem;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  .temperature {
    font-size: 8.3rem;
    line-height: 7rem;
  }

  #weather-item-list {
    column-gap: 3.3rem;
  }

  .weather-item .item-temp-degree {
    font-size: 1rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 1rem;
  }
}

@media screen and (orientation: portrait) {
  html {
    font-size: 20px;
  }

  .content {
    padding: 3.5rem 1.1rem 1.1rem;
  }

  .header {
    flex-direction: column;
    row-gap: 0.3rem;
    font-size: 0.9rem;
    column-gap: 0.3rem;
    justify-content: center;
  }

  .header-item {
    column-gap: 5px;
  }

  .header-item + .header-item {
    margin-left: 0;
  }

  .header-item img {
    width: 0.9rem;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  .temperature {
    font-size: 6rem;
    line-height: 4.5rem;
  }

  #weather-item-list {
    justify-content: space-between;
    align-self: unset;
    column-gap: 1rem;
    margin-top: 25px;
  }

  .weather-item .item-temp-degree {
    font-size: 1rem;
  }

  .weather-item .item-icon {
    width: 2rem;
  }

  .weather-item .item-time {
    font-size: 0.7rem;
  }

  .footer {
    flex-direction: column;
  }
}

@media screen and (min-width: 480px) and (orientation: portrait) {
  html {
    font-size: 16px;
  }

  .content {
    padding: 5.5rem 2.5rem 2.5rem;
  }

  .header {
    flex-direction: row;
    font-size: 0.875rem;
    column-gap: 0.5rem;
  }

  .header-item {
    column-gap: 10px;
  }

  .header-item + .header-item {
    margin-left: 2rem;
  }

  .header-item img {
    width: 1.2rem;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  .temperature {
    font-size: 7.5rem;
    line-height: 6rem;
  }

  #weather-item-list {
    column-gap: 2.8rem;
    margin-top: 30px;
  }

  .weather-item .item-temp-degree {
    font-size: 1.25rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 720px) and (orientation: portrait) {
  html {
    font-size: 24px;
  }

  .content {
    padding: 5.83rem 2.7rem 2.7rem;
  }

  .header {
    font-size: 0.875rem;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  .temperature {
    font-size: 8.33rem;
    line-height: 6.5rem;
  }

  #weather-item-list {
    column-gap: 1.5rem;
    margin-top: 30px;
  }

  .weather-item .item-temp-degree {
    font-size: 1.25rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1080px) and (orientation: portrait) {
  html {
    font-size: 40px;
  }

  .content {
    padding: 6rem 2.1rem 2.1rem;
  }

  .header {
    font-size: 0.9rem;
  }

  .header-item + .header-item {
    margin-left: 1rem;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  .temperature {
    font-size: 8.5rem;
    line-height: 6.5rem;
  }

  #weather-item-list {
    column-gap: 1.5rem;
    margin-top: 75px;
  }

  .weather-item .item-temp-degree {
    font-size: 1.25rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1440px) and (orientation: portrait) {
  html {
    font-size: 48px;
  }

  .content {
    padding: 6.5rem 2.66rem 2.66rem;
  }

  .header {
    font-size: 0.66rem;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  .temperature {
    font-size: 8.33rem;
    line-height: 6.5rem;
  }

  #weather-item-list {
    column-gap: 2.8rem;
    margin-top: 128px;
  }

  .weather-item .item-temp-degree {
    font-size: 1rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 1rem;
  }
}

@media screen and (min-width: 2160px) and (orientation: portrait) {
  html {
    font-size: 64px;
  }

  .content {
    padding: 5.5rem 2.5rem 2.5rem;
  }

  .header {
    font-size: 0.9rem;
  }

  .header-item {
    column-gap: 20px;
  }

  .weather-condition {
    font-size: 1rem;
    column-gap: 20px;
  }

  #current-weather-icon {
    width: 2rem;
  }

  .temperature {
    font-size: 7.8rem;
    margin-bottom: 2rem;
  }

  #weather-item-list {
    column-gap: 3.67rem;
    margin-top: 30px;
  }

  .weather-item .item-temp-degree {
    font-size: 1rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 1rem;
  }
}
