@charset "UTF-8";
/* reset © 2011 opensource.736cs.com MIT */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0; }

body {
  line-height: 1.2; }

article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote {
  display: block; }

nav ul {
  list-style: none; }

ol {
  list-style: decimal; }

ul {
  list-style: disc; }

ul ul {
  list-style: circle; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

ins {
  text-decoration: underline; }

del {
  text-decoration: line-through; }

mark {
  background: none; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select, a img {
  vertical-align: middle; }

body, html {
  height: 100%;
  width: 100%;
  margin: 0; }

/*
	DEPENDENCIES
*/
/*
    DEFINE GLOBAL VARIABLES
*/
/*
    DEFINE GLOBAL FUNCTIONS
*/
/*
	STYLES
*/
* {
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

small {
  font-size: 14px; }

/*
	DEPENDENCIES
*/
/*
    DEFINE GLOBAL VARIABLES
*/
/*
    DEFINE GLOBAL FUNCTIONS
*/
/*
	STYLES
*/
html {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: lighter;
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  /*
		SECTION
	*/ }
  html:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    content: '';
    position: absolute;
    background-size: cover;
    background-color: black;
    transition: background 1s;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/bg-day.jpg); }
  html.bg-day:before {
    background-image: url(../img/bg-day.jpg); }
  html.bg-sunset:before {
    background-image: url(../img/bg-sunset.jpg); }
  html.bg-night:before {
    background-image: url(../img/bg-night.jpg); }
  html body {
    padding: 60px;
    overflow: hidden;
    box-sizing: border-box; }

/*
	DEPENDENCIES
*/
/*
    DEFINE GLOBAL VARIABLES
*/
/*
    DEFINE GLOBAL FUNCTIONS
*/
/*
	STYLES
*/
/*
	SECTIONS
*/
section#central {
  z-index: 99;
  padding: 8%;
  font-size: 0;
  line-height: 0;
  position: relative;
  text-align: justify;
  /*
		CENTER VERTICALLY
	*/
  top: 50%;
  transform: translateY(-55%);
  /*
		NEXT DAYS PREVISION
	*/ }
  section#central:after {
    width: 100%;
    content: ".";
    visibility: hidden;
    display: inline-block; }
  section#central .left,
  section#central .right {
    width: 50%;
    margin: 0 auto;
    line-height: 1;
    max-width: 500px;
    display: inline-block;
    vertical-align: top; }
  section#central .left {
    padding-right: 20px; }
  section#central .right {
    margin-top: 90px;
    padding-left: 20px; }
  section#central #location-today {
    width: 100%;
    color: #123e51;
    font-size: 48px;
    font-weight: 600;
    text-align: center; }
  section#central #temperatures {
    position: relative; }
  section#central #temp {
    margin: 30px 0;
    font-size: 320px;
    line-height: .7em;
    font-weight: lighter;
    font-family: 'Kanit', sans-serif; }
    section#central #temp sup {
      font-size: 150px;
      font-weight: 300;
      vertical-align: super;
      line-height: 0;
      margin-left: -30px; }
  section#central #temp-min,
  section#central #temp-max {
    right: 0;
    bottom: 0;
    font-weight: lighter;
    font-family: 'Muli', sans-serif;
    font-size: 50px;
    text-align: center;
    position: absolute; }
    section#central #temp-min sup,
    section#central #temp-max sup {
      font-size: 20px;
      vertical-align: super; }
    section#central #temp-min b,
    section#central #temp-max b {
      display: block;
      font-size: 28px; }
  section#central #temp-max {
    top: 15px;
    bottom: auto; }
  section#central #weather {
    text-align: left;
    position: relative; }
    section#central #weather canvas {
      max-width: 50%; }
    section#central #weather b {
      top: 50%;
      right: 0;
      max-width: 50%;
      font-size: 40px;
      font-weight: bold;
      text-align: right;
      position: absolute;
      text-transform: uppercase;
      transform: translateY(-50%); }
  section#central #next-days {
    font-size: 56px;
    font-weight: lighter; }
    section#central #next-days ul {
      margin: 0 auto;
      max-width: 380px; }
      section#central #next-days ul li {
        line-height: 0;
        margin: 20px 0; }
        section#central #next-days ul li:after {
          width: 100%;
          content: ".";
          visibility: hidden;
          display: inline-block; }
        section#central #next-days ul li:first-of-type {
          margin-top: 0; }
        section#central #next-days ul li b {
          width: 33.333333%;
          font-weight: lighter;
          display: inline-block;
          vertical-align: middle; }
          section#central #next-days ul li b + b {
            text-align: center; }
          section#central #next-days ul li b:last-of-type {
            line-height: 1;
            padding-right: 20px;
            position: relative;
            font-weight: lighter;
            font-family: 'Kanit', sans-serif;
            font-weight: bolder;
            text-align: right; }
        section#central #next-days ul li sup {
          top: 0;
          right: 0;
          font-size: 23px;
          font-weight: 200;
          position: absolute; }
    section#central #next-days #app-name {
      margin: 40px 0 10px;
      font-size: 34px;
      text-align: center; }
    section#central #next-days small {
      display: block;
      text-align: center; }

html.bg-night section#central #location-today {
  color: white; }

/*
	MEDIA QUERIES
*/
@media screen and (max-width: 1440px) {
  section#central {
    top: 0;
    height: 100%;
    transform: none;
    /*
			CENTER VERTICALLY
		*/
    /*
			NEXT DAYS PREVISION
		*/ }
    section#central .left,
    section#central .right {
      left: 0;
      right: 0;
      width: 100%;
      margin: 0 auto;
      display: block;
      max-width: 80%;
      position: absolute; }
    section#central .left {
      top: 25%;
      transform: translateY(-50%); }
    section#central .right {
      top: 70%;
      transform: translateY(-50%); }
    section#central #temp {
      margin: 60px 0;
      font-size: 400px;
      font-weight: 200; }
    section#central #temp-min,
    section#central #temp-max {
      font-size: 80px; }
      section#central #temp-min sup,
      section#central #temp-max sup {
        font-size: 40px; }
      section#central #temp-min b,
      section#central #temp-max b {
        font-size: 35px; }
    section#central #next-days {
      font-size: 80px; }
      section#central #next-days ul {
        max-width: 100%; }
        section#central #next-days ul li {
          margin: 40px 0; }
      section#central #next-days #app-name {
        margin: 90px 0 30px;
        font-size: 54px; }
      section#central #next-days small {
        font-size: 26px; } }

/*
	DEPENDENCIES
*/
/*
    DEFINE GLOBAL VARIABLES
*/
/*
    DEFINE GLOBAL FUNCTIONS
*/
/*
	STYLES
*/
/*
	FOOTER
*/
footer {
  font-size: 0;
  line-height: 0;
  position: fixed;
  left: 60px;
  right: 60px;
  bottom: 30px; }
  footer .left, footer .right {
    width: 50%;
    display: inline-block; }
  footer .right {
    text-align: right; }
  footer span, footer img {
    color: white;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle; }
  footer .logo {
    margin-right: 20px; }
  footer #footer-clock {
    font-size: 54px;
    font-weight: 200;
    font-family: 'Kanit', sans-serif; }

@media screen and (max-width: 1440px) {
  footer .left {
    width: 75%; }
  footer .right {
    width: 25%; } }

/*# sourceMappingURL=style.css.map */
