#banner {
  visibility: hidden;
  background-color: white;
  color: #7e2bd0;
  font-size: 24px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 32px;
  a {
    text-decoration: none;
    font-weight: 600;
    pointer-events: auto;
    color: inherit;
  }
  span:last-of-type {
    float: right;
    font-weight: 400;
  }
}

@media screen and (max-width: 1366px) and (orientation: landscape) {
  #banner {
    font-size: 16px;
    padding: 9px 21px;
  }
}

@media screen and (max-width: 800px) {
  #banner {
    font-size: 10px;
    padding: 6px 16px;
  }
}