/*
    STYLES
*/


html
{
    margin: 0;
    padding: 0;
    color: white;
    @include font();
    overflow: hidden;

    &:not(.debug) {
        user-select:none;
        pointer-events: none;
    }

    &:before
    {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        content: '';
        position: absolute;
        background-size: cover;
        background-color: white;
        transition: background 1s;
        background-repeat: no-repeat;
        background-position: center center;
        // background-image: url(asset_path('bg-day.jpg'));
    }

    // &.bg-day:before {
    //     background-image: url(asset_path('bg-day.jpg'));
    // }

    // &.bg-sunset:before {
    //     background-image: url(asset_path('bg-sunset.jpg'));
    // }

    // &.bg-night:before {
    //     background-image: url(asset_path('bg-night.jpg'));
    // }



    body
    {
        padding: 57px 0;
        overflow: hidden;
        box-sizing: border-box;
    }

    /*
        SECTION
    */

    section
    {
    }
}



@media screen and (max-width: 1366px) {
        html {
            body {
                padding: 38px 0;
            }
        }
}

@media screen and (max-width: 800px) {
    html {
        body {
            padding: 24px 0;
        }
    }
}