/*
    STYLES
    SECTIONS
*/

section#central {
    z-index: 99;
    font-size: 0;
    line-height: 0;
    position: relative;
    text-align: justify;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;

    #current-day {
        background-color: #21263b;
    }

    .top-block {
        padding: 0 8rem;
        color: #ffffff;
        position: relative;
        height: 60.1vh;
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 480px;
        margin: 0 auto;
        line-height: 1;
    }

    .bottom-block {
        padding: 0 8rem;
        color: #21263b;
        width: 100%;
        height: 27vh;
        min-width: 480px;
        margin: 0 auto;
        line-height: 1;
        display: inline-block;
        vertical-align: top;
    }

    .date-data {
        margin-bottom: 10px;
        #today {
            text-transform: uppercase;
            padding-right: 56px;
            white-space: nowrap;
        }
    }

    .block-day {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    #location {
        width: 100%;
        max-width: 650px;
        margin-left: 26px;
        line-height: 1;
        font-size: 120px;
        white-space: nowrap;
        display: inline-block;
        span {
            max-width: 600px;
            font-size: 120px;
        }
    }

    #temp {
        font-size: 200px;
        font-weight: 300;
        display: inline-block;
        position: relative;

        sup {
            font-size: 43px;
            font-weight: 300;
            vertical-align: top;
            line-height: 2.5;
            display: inline-block;
        }
    }

    .detail-block {
        display: block;
        max-width: 400px;
        .detail-first {
            margin: 54px 0 40px 0;
        }

        .detail {
            display: flex;
            justify-content: space-between;

            #probability, #humidity {
                display: block;
                font-weight: 500;
                margin-left: 20px;

            }
        }
    }


    #weather {
        display: flex;
        flex-direction: column;
        align-items: center;

        .wi {
            font-size: 260px;
            vertical-align: middle;
        }

        #weather-summary {
            margin-top: 32px;
            display: block;
            white-space: normal;
            text-align: center;
        }

        b {
            font-size: 86px;
        }
    }

    /*
        NEXT DAYS PREVISION
    */
    #next-days {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        padding-top: 40px;

        ul {
            white-space: nowrap;
            display: flex;
            width: 100%;
            justify-content: space-between;

            li {
                display: flex;
                flex-direction: column;
                text-align: center;

                .wi {
                    font-size: 100px;
                    padding-bottom: 10%;
                    position: relative;
                    top: -5px;
                }

                b {
                    font-weight: 500;
                    display: inline-block;
                    vertical-align: middle;
                    text-transform: uppercase;
                    font-size: 54px;

                    sup {
                        top: 0;
                        right: 0;
                        font-size: 23px;
                        font-weight: 200;
                        position: absolute;
                    }

                    &:nth-child(3) {
                        color: #21263b;
                        opacity: 0.6;
                        font-size: 46px;
                        padding-top: 12px;
                    }
                }

              p {
                .min-temp-day {
                   color: #21263b;
                   opacity: 0.6;
                   margin-left: 10px;
                    }

                }

            }
        }
    }
}

.font-size {
    font-size: 42px;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

#temp-max, #temp-min, #wind {
    display: none;
}