/*
    DEPENDENCIES
*/

@import 'variables';


/*
    STYLES
*/


html
{
    margin: 0;
    padding: 0;
    color: white;
    @include font();
    overflow: hidden;

    &:before
    {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        content: '';
        position: absolute;
        background-size: cover;
        background-color: black;
        transition: background 1s;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../img/bg-day.jpg);
    }

    &.bg-day:before {
        background-image: url(../img/bg-day.jpg);
    }

    &.bg-sunset:before {
        background-image: url(../img/bg-sunset.jpg);
    }

    &.bg-night:before {
        background-image: url(../img/bg-night.jpg);
    }



    body
    {
        padding: 60px;
        overflow: hidden;
        box-sizing: border-box;
    }





    /*
        SECTION
    */

    section
    {
    }
}