/*
    DEPENDENCIES
*/

@import 'variables';


/*
    STYLES
*/

html
{

}


/*
    SECTIONS
*/

section#central
{
    z-index: 99;
    padding: 8%;
    font-size: 0;
    line-height: 0;
    position: relative;
    text-align: justify;

    &:after
    {
        width: 100%;
        content: ".";
        visibility: hidden;
        display: inline-block;
    }

    /*
        CENTER VERTICALLY
    */

    top: 50%;
    transform: translateY(-55%);
    -webkit-transform: translateY(-55%);

    .left,
    .right
    {
        width: 50%;
        margin: 0 auto;
        line-height: 1;
        max-width: 500px;
        display: inline-block;
        vertical-align: top;
    }

    .left
    {
        padding-right: 20px;
    }

    .right
    {
        padding-left: 20px;
    }

    #location-today
    {
        color: #123e51;
        font-size: 48px;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
    }

    #temperatures
    {
        position: relative;
    }

    #temp
    {
        margin: 30px 0;
        font-size: 320px;
        line-height: .7em;
        @include font_number();

        sup
        {
            font-size: 150px;
            font-weight: 300;
            vertical-align: super;
            line-height: 0;
            margin-left: -30px;
        }
    }


    #temp-min,
    #temp-max
    {
        right: 0;
        bottom: 0;
        @include font();
        font-size: 50px;
        position: absolute;

        sup
        {
            font-size: 20px;
            vertical-align: super;
        }

        b
        {
            display: block;
            font-size: 28px;
        }
    }

    #temp-max
    {
        top: 15px;
        bottom: auto;
    }


    #weather
    {
        text-align: left;
        margin-top: 60px;
        position: relative;

        .wi
        {
            font-size: 110px;
            line-height: 1em;
        }

        b
        {
            top: 50%;
            right: 0;
            max-width: 50%;
            font-size: 40px;
            font-weight: bold;
            text-align: right;
            position: absolute;
            text-transform: uppercase;
            transform: translateY(-50%);
        }
    }




    /*
        NEXT DAYS PREVISION
    */


    #next-days
    {
        font-size: 56px;
        font-weight: lighter;

        ul
        {
            margin: 0 auto;
            max-width: 380px;
            white-space: nowrap;

            li
            {
                line-height: 0;
                margin: 42px 0;

                &:after
                {
                    width: 100%;
                    content: ".";
                    visibility: hidden;
                    display: inline-block;
                }

                &:first-of-type
                {
                    margin-top: 0;
                }

                b
                {
                    width: 33.333333%;
                    font-weight: lighter;
                    display: inline-block;
                    vertical-align: middle;

                    & + b
                    {
                        text-align: center;
                    }

                    &:last-of-type
                    {
                        line-height: 1;
                        padding-right: 20px;
                        position: relative;
                        @include font_number();
                        font-weight: bolder;
                        text-align: right;
                    }
                }

                sup
                {
                    top: 0;
                    right: 0;
                    font-size: 23px;
                    font-weight: 200;
                    position: absolute;
                }
            }
        }

        #app-name
        {
            margin-bottom:10px;
            font-size: 34px;
            text-align: center;
        }

        #poweredby
        {
            display: block;
            text-align: center;
            margin-bottom:35px;
        }
    }
}





html.bg-night section#central #location-today
{
    color: white;
}









/*
    MEDIA QUERIES
*/

@media screen and (max-width: 1440px)
{

    section#central
    {
        top: 0;
        height: 100%;
        transform: none;

        &:after
        {
        }

        /*
            CENTER VERTICALLY
        */

        .left,
        .right
        {
            left: 0;
            right: 0;
            width: 100%;
            margin: 0 auto;
            display: block;
            max-width: 80%;
            position: absolute;
        }

        .left
        {
            top: 25%;
            transform: translateY(-50%);
        }

        .right
        {
            top: 70%;
            transform: translateY(-50%);
        }

        #location-today
        {
        }

        #temperatures
        {
        }

        #temp
        {
            margin: 60px 0;
            font-size: 400px;
            font-weight: 200;

            sup
            {
            }
        }


        #temp-min,
        #temp-max
        {
            font-size: 80px;

            sup
            {
                font-size: 40px;
            }

            b
            {
                font-size: 35px;
            }
        }

        #temp-max
        {
        }


        #weather
        {
            canvas
            {
            }

            b
            {
            }
        }




        /*
            NEXT DAYS PREVISION
        */


        #next-days
        {
            font-size: 80px;

            ul
            {
                max-width: 100%;

                li
                {
                    margin: 40px 0;

                    &:after
                    {
                    }

                    &:first-of-type
                    {
                    }

                    b
                    {
                        & + b
                        {
                        }

                        &:last-of-type
                        {
                        }
                    }

                    sup
                    {
                    }
                }
            }

            #app-name
            {
                margin: 90px 0 30px;
                font-size: 54px;
            }

            small
            {
                font-size: 26px;
            }
        }
    }
}
